<!DOCTYPE html>
<html lang="en">
<head>
    <!-- tüm html sayfasında head kısmı aynı olduğu için onuda partials içine koyduk ve html sayfalarına çağırdık -->
 <%- include('../partials/head') %>
</head>
<body>

<!-- oluşturmuş olduğumuz parçayı buraya da çağırıyoruz ! ejs de bir html öğesiini çağırken - kullanılır -->
    <%- include('../partials/nav') %> 


    <div class="container mt-3 ">
        <div class="row">
            <div class="col-md-3">

<!-- Burada static bir sayfa oluşturmuyoruz dinamik bir sayfa oluşturuyoruz o yüzeden içeri bir veri tabanından gelen bir değişken göndermemiz gerekir onuda 2. parametre ile gönderiyoruz -->
        <%- include('../partials/category-menu' , categories) %> 
        
    </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3">
                    <%=title%> 
                </h1>

    <% blogs.forEach(element => { %>
        <%- include('../partials/blog-card' ,element)  %>

    <% }) %>    

    <% if (blogs.length >= 3) { %>  
        <%- include('../partials/pagination') %>
    <%}%>


            </div>
        </div>
    </div>

</body>
</html>


