<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    
<!-- PARTİAL VİEW'E VERİ GÖNDERME -> partials view e dışardından bir veri nasıl gönderilir öğrenelim  -->

    <%- include('../partials/nav') %> 

    <div class="container mt-3 ">
        <div class="row">
            <div class="col-md-3">

                <%- include('../partials/category-menu' , categories) %> 

            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3">
                    <%=title%> 
                </h1>

<% blogs.forEach(element => { %>
    <% if (element.anasayfa) { %>
        <%- include('../partials/blog-card' ,element)  %>
    <% } %>
<% }) %>


            </div>
        </div>
    </div>

</body>
</html>