<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    

    <%- include('../partials/nav') %> 

    <div class="container mt-3 ">
        <div class="row">
            <div class="col-md-3">

                <%- include('../partials/category-menu' , {categories , secilenCategory}) %> 

<!-- normalde category-menu parçasına categories i göndermeme gerek yok zaten biz bu index.ejs sayfasına categories i gönderiyoruz, parçamızda bu sayfaya çağırdığımız için gelen sayfasa bir daha categories i göndermek saçma olacaktır. Biz sadece okunabilirliği arttırmak için bu şekilde oraya gönderiğimiz değeri yazıyoruz.-->

            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3"> 
                    <%=title%> 
                </h1>

<% blogs.forEach(element => { %>

        <%- include('../partials/blog-card' ,element)  %>

<% }) %>

            </div>
        </div>
    </div>

</body>
</html>